body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	height: 100%;
}

p {
	text-align: center;
}

h1 {
	color: #f7bd8a;
	font-size: 3.125rem;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	color: white;
	font-size: 1.125rem;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	margin-top: 4rem;
}

h4 {
	text-align: center;
	font-size: 24px;
}

li {
	display: inline-block;
	font-size: 12px;
	width: 100px;
	font-weight: bold;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	margin-left: 1rem;
}

a {
	display: inline-block;
	border-radius: 50%;
}

a:hover .left,
a:hover .top,
a:hover .bottom,
a:hover .right {
	border: 0.5em solid #f5a623;
}

a:hover .left:after,
a:hover .top:after,
a:hover .bottom:after,
a:hover .right:after {
	border-top: 0.5em solid #f5a623;
	border-right: 0.5em solid #f5a623;
}

.about {
	width: 37.5rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-container {
	background: url('../images/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 1.5rem;
}

.bio {
	color: white;
	font-size: 14px;
}

.box {
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-top: 80px;
	visibility: hidden;
}

.btn-up {
	text-align: center;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	position: sticky;
	float: right;
	bottom: 6em;
	margin: 0 6em 0;
}

.clear {
	clear: both;
}

.contact-headline {
	color: white;
}

.contact-info {
	color: white;
	font-size: 13px;
	margin-top: 30px;
}

.contact-link {
	color: white;
	font-weight: bold;
	font-size: 13px;
}

.contact-me {
	margin-bottom: -6em;
	height: 350px;
	background-color: #202020;
	padding-top: 30px;
}

.full-width {
	width: 100%;
}

.grey {
	height: 3px;
	background-color: #767a82;
	border: none;
	width: 50px;
}

.hire-me {
	border-style: solid;
	border-color: white;
}

.icon {
	margin: 30px 0;
}

.icons {
	text-align: center;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: #0f8284;
	margin-top: 40px;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.skills-and-tools {
	max-width: 400px;
	margin: 40px auto;
}

.top {
	display: inline-block;
	width: 4em;
	height: 4em;
	border: 0.5em solid #f5a623;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
}

.top:after {
	content: '';
	display: inline-block;
	margin-top: 1.4em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid #333;
	border-right: 0.5em solid #333;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.yellow {
	border-top: 3px double #f5a623;
	width: 250px;
	border-bottom: none;
	border-right: none;
}

#top {
	display: none;
}
